.landing-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.landing-text {
    font-size: 20px;
    font-weight: 400;
}

.rounded-circle {
    background: rgba(204, 201, 161, 0.80);
    height: 170px;
    width: 170px;
}

.landing-icon {
    padding: 15px;
    height: 100%;
    width: 100%;
}

#trash-icon {
    padding-top: 25px;
    padding-bottom: 15px;
    height: 100%;
    width: 100%;
}